absl-py==0.8.0
appnope==0.1.0
astor==0.8.0
attrs==19.1.0
backcall==0.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
dill==0.3.0
future==0.17.1
gast==0.3.2
google-pasta==0.1.7
googleapis-common-protos==1.6.0
grpcio==1.23.0
h5py==2.10.0
idna==2.8
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
jupyter-client==5.3.3
jupyter-core==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.3.0
numpy==1.17.2
olefile==0.46
opt-einsum==3.0.1
pandas==0.25.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.6
ptyprocess==0.6.0
pycparser==2.19
pydash==4.7.5
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
pyzmq==18.1.0
requests==2.22.0
six==1.12.0
tb-nightly==1.15.0a20190806
tensorflow==2.6.4
tensorflow-datasets==1.2.0
tensorflow-metadata==0.14.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019080601
torch==1.2.0
torchvision==0.4.0a0+6b959ee
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
urllib3==1.25.5
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
